@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap");

html {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.5rem; /* 50% larger than font size */
    text-align: justify;
}

body {
    font-size: 20px;
}

h1 {
    font-size: 2em; /*2x times size of parent elem (body tag)*/
    font-family: "Zen Dots", cursive;
    text-transform: uppercase;
}

/* Ony the element with id of 'firstcharacter' get this style 
only one item can have the id on the page
if  have multiple pages can have sane IDs as other pages cannot have same id inside the page */
/* #firstcharacter {
    font-size: 50px;
} */

p, div{
    text-indent: 2rem;
    text-transform: capitalize;
}

/* can have multiply elements on the page with the same class */
.starting-character {
    font-size: 2rem;
    font-weight: bold;
}

/* must have 'starting-character class and overall-character class */
.starting-character.first-overall-character {
    /* color: rgb(0, 38, 255); */
    color: #00ff00;
}

.sample-copy {
    font-size: 1.25rem; /* 2x size of the root elem (html tag) */
}

/* footer elem with the class 'sample-copy' change the color to red*/
footer.sample-copy {
    color: red;
    font-style: italic;
}

.key-info {
    text-decoration-line: underline;
    text-decoration-color: rgb(233, 76, 76);
    text-decoration-style: wavy;
}

.ninja {
    /* visibility: hidden;  not show it but keep the space */
    /* display: none; /* takes it of the page*/
    display: inline-block; /* doesn't take up the full width if it doesn't need to*/
    border:  1PX solid black;
    width: 300px;
    padding: 0; /* white space inside of the border*/
    margin: 0; /* white space outside of the border */
}