.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    /* justify-content: space-around; */
    flex-direction: row; /* Default is row, can be column */ 
  

}


.item {
    border: 1px black solid;
    background-color: red;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    color: white;
    /* flex: 0 1 auto; Grow, shrink, basis */
    flex-grow: 1; /* How much to grow */
    flex-shrink: 1; /* How much to shrink */
    flex-basis: auto; /* Initial size */


}
/* 
#item3 {
    flex-grow: 4;
    flex-shrink: 0;
} */

/* Reorder in flex */
/* #item1 {
    order: 3; 
}

#item2 {
    order: 2; 
} */