:root {
    --brand-grey: rgb(197,197,197);
    --brand-dark-grey: rgb(88,88,88);
    --brand-blue: rgb(0,107,179);
    --brand-light: rgb(255,255,255);
    --important-text: 1.5rem;
}

#section1 {
    background-color: var(--brand-grey);
    
}

#section2 {
    background-color: var(--brand-dark-grey);
    color: var(--brand-light);
    font-size: var(--important-text);
}

#section3{
   color: var(--brand-blue);
}

#button1 {
    border: 0;
    padding: 5px;
    color: var(--brand-light);
    background-color: var(--brand-dark-grey);
}

/*
     pseudo-elements - :: - describe part of n element 
    pseudo-classes - : -  define the state of an element 
*/

#first-list li:first-child {
    font-size: 1.5rem;
}

#first-list li:nth-child(4) {
    font-size: 1.5rem;
}

#first-list li:last-child {
    font-size: 1.5rem;
}


h2:nth-of-type(2) {
    color: red;
}


#button1:hover {
    background-color:rgb(116,116,116);
    color: white;
    border: 1px solid black;
    padding: 5px;
}

#section1 p:first-of-type::first-line { 
    color: blue;
    font-weight: bold;
}

/* p::first-line { 
    color: blue;
    font-weight: bold;
} */

p::first-Letter {
    font-size: 2rem;
}